<mat-card class="card">
    <mat-card-header>
        <div *ngIf="authenticatedUser.id == question.author; then doSomething; else doSomethingElse;"></div>
        <ng-template #doSomething>
            <h3><strong>
                    You ask:
                </strong>
            </h3>
        </ng-template>
        <ng-template #doSomethingElse>
            <h3>
                <strong>
                    {{getAuthorName(question.author)}} asks:
                </strong>
            </h3>
        </ng-template>

    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="10" rowHeight="35px">

            <mat-grid-tile rowspan="8" colspan="2">
                <img loading="lazy" width="92" [src]="getAuthorAvatar(question.author)"
                    [alt]="getAuthorName(question.author) +'avatarURL'" />
            </mat-grid-tile>
            <mat-grid-tile rowspan="8" colspan="1">
                <mat-divider vertical style="height:600px"></mat-divider>
            </mat-grid-tile>

            <mat-grid-tile rowspan="2" colspan="7">

                <span style="width: 100%;">
                    <h3>
                        <strong>Would you rather ... ?</strong>

                    </h3>
                </span>
            </mat-grid-tile>
            <div *ngIf="authUserAnswer then showResult; else answerQuestion;"></div>
            <ng-template #showResult>
                <mat-grid-tile [ngClass]="{'your-choice-text':AuthorVote===true, 
                'left-align':AuthorVote===false}" rowspan="1" colspan="4">
                    <h3>
                        {{ question.optionOne.text}}
                    </h3>
                </mat-grid-tile>
                <mat-grid-tile rowspan="1" colspan="3">
                    <mat-chip *ngIf="AuthorVote" class="left-align your-choice">Your Choice</mat-chip>

                </mat-grid-tile>
                <mat-grid-tile rowspan="1" colspan="6">
                    <mat-progress-bar mode="determinate" class="left-align"
                        [value]="OptionOnePercentage"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile rowspan="1" colspan="1">
                    <h3>
                        {{OptionOnePercentage}}%
                    </h3>
                </mat-grid-tile>
                <mat-grid-tile rowspan="1" colspan="7">
                    <h3 class="center-align">
                        {{OptionOneVotes}} out of {{votesCount}} votes
                    </h3>
                </mat-grid-tile>
                <mat-grid-tile [ngClass]="{'your-choice-text':AuthorVote===false, 
                'left-align':AuthorVote===true}" rowspan="1" colspan="4">
                    <h3>
                        {{ question.optionTwo.text}}</h3>
                </mat-grid-tile>
                <mat-grid-tile rowspan="1" colspan="3">
                    <mat-chip *ngIf="!AuthorVote" class="left-align your-choice">Your Choice</mat-chip>
                </mat-grid-tile>
                <mat-grid-tile rowspan="1" colspan="6">
                    <mat-progress-bar mode="determinate" class="left-align"
                        [value]="OptionTwoPercentage"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile rowspan="1" colspan="1">
                    <h3>
                        {{OptionTwoPercentage}}%
                    </h3>
                </mat-grid-tile>
                <mat-grid-tile class="center-align" rowspan="1" colspan="7">
                    <h3>
                        {{OptionTwoVotes}} out of {{votesCount}} votes
                    </h3>
                </mat-grid-tile>
            </ng-template>
            <ng-template #answerQuestion>
                <form (ngSubmit)="SubmitAnswer()">
                    <mat-radio-group [formControl]="newAnswer" aria-label="Select an option">
                        <mat-grid-tile rowspan="1" colspan="7">
                            <div class="text-inside-grid">
                                <mat-radio-button value="optionOne">{{ question.optionOne.text}}</mat-radio-button>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile rowspan="1" colspan="7">
                            <div class="text-inside-grid">
                                <mat-radio-button value="optionTwo">{{ question.optionTwo.text}}</mat-radio-button>
                            </div>
                        </mat-grid-tile>
                    </mat-radio-group>
                    <mat-grid-tile rowspan="1" colspan="3"></mat-grid-tile>
                    <mat-grid-tile rowspan="1" colspan="7">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </mat-grid-tile>
                </form>
            </ng-template>
        </mat-grid-list>
    </mat-card-content>
</mat-card>