<mat-toolbar class="blueBackground">
  <mat-toolbar-row>
    <span class="span">
      <h1>Would You Rather</h1>
    </span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row class="SecondRow">
    <div>
      <button [routerLink]="['/home']" mat-stroked-button > Home</button>
      <button [routerLink]="['/add-question']" mat-stroked-button >New Question</button>
      <button [routerLink]="['/leaderboard']" mat-stroked-button >Leaderboard</button>
    </div>
    <span class="example-spacer"></span>
    <h3 style="margin-bottom: 0;">
      Hello, {{user.name}} <img loading="lazy" width="35" [src]="user.avatarURL" [alt]="user.avatarURL" />
    </h3>
    <button mat-icon-button class="example-icon" (click)="logOut()" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>