.blueBackground {
    background-color: #00539CFF !important;
}

.example-spacer {
    flex: 1 1 auto;
    text-align: center;
}

h1 {
    color: white;
    margin: 0;
    font-size: 50px;
    text-align: center;
}

.span {
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}
button 
{
    color: #00539CFF;
    border-color: #00539CFF;
    margin-right: 20px;
}
.SecondRow {
    background-color: white;
    color: #EEA47FFF;
    padding-left: 10%;
    padding-right: 12%;
    justify-content: space-around;
    position: relative;
    display: flex;
    box-shadow: 5px 5px 5px 2px gray;
}



/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/